POSTRGES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTRGES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DATABASE=worklog

POSTGRES_HOST_PORT=5433
API_PORT=3000
FRONT_PORT=3001

API_URL=http://localhost:3000

# Docker overrides (set in docker-compose for api service):
# POSTRGES_HOST=postgres
# POSTGRES_PORT=5432
